* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/login.png) no-repeat center center #b8e5f8;
    font-size:16px;
}

li {
    list-style: none;
}

.box {
    width: 456px;
    height: 383px;
    background-color: rgba(255, 255, 255);
    box-sizing: border-box;
    border-radius: 20px;
    margin: 200px auto;
    padding: 23px;
    position:relative;
    padding-top:30px;
    padding-left:50px;
}

.box h2 {
    font-size: 33px;
    margin-left:114px;
}

.box p {
    font-size: 12px;
    color: #9b9b9b;
    position:absolute;
    bottom:110px;
    right:86px;
}
.box .light{
    width:366px;
    height:1px;
    background: #ccc;
    margin-top:24px;
    margin-bottom:32px;
}
.box p a {
    text-decoration: none;
    color: #2e58ff;
}


.box ul li {
    height: 40px;
    margin-bottom:21px;
    position:relative;
}

.box ul li label {
    font-size: 12px;
    color: #333333;
    margin-right: 16px;
}

.box ul li label.error{
    color:red;
    margin-left:58px;
    font-size:14px;
}

.box ul li input {
    width: 260px;
    height: 38px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 14px;
    color: #000;
    vertical-align: middle;

}
.box ul li:nth-of-type(3) input{
    width:16px;
    height:14px;
}
.box ul li:nth-of-type(3) label.error{
    position:absolute;
    top:20px;
    left:-2px;
}
.box ul li:nth-of-type(2) label span{
    margin-left:12px;
} 
.box ul li:nth-of-type(2){
    margin-bottom:20px;
}
.box ul li:nth-of-type(3){
    margin-bottom:0px;
    padding-left:56px;
}
.btn2 {
    width: 304px;
    height: 50px;
    border-radius: 10px;
    background: rgb(46,88,255);
    border: 1px solid #ccc;
    font-size: 16px;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-left:25px;
}